
	<div class="panel panel-default">
  		<div class="panel-heading">
  				ENTER QUALIFICATION
  		</div> 
  		<div class="panel-body">
		<%if flash%>
   			<%=render "shared/flash"%>
		<%end%>
		
		<%if @error%>
		<div class="alert alert-warning">
    		<%= render"shared/error"%>
		</div>
		<%end%>
		
		<%if @qualification%>
			<%= form_for @qualification, :url=>{:controller=>"qualifications",:action=>"create"} do |f|%>
				
<form >
	<div class="form-group row">
    	<%=f.text_field :teacher_id,:value=>@teacher_id%>     		
    	<%=f.hidden_field :board_id,:value=>1%>
      <%=f.hidden_field :marks_obtained,:value=>100%>        
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Degree Name:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :degree,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">

     
    	<label class="control-label col-sm-3" >University:</label>
    	<div class="col-sm-3">
         	<%=f.select("university_id",options_for_select(University.all.collect{|b| [b.short_name,b.id]}))%>     		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >Regular/Distance:</label>
    	<div class="col-sm-4">
         	<%=f.radio_button :mode,'regular',:checked => true%>Regular
            <%=f.radio_button :mode,'distance'%>Distance     		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >Passing Year:</label>
    	<div class="col-sm-4">
         	<%=f.date_field :year_of_passing,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	
  
    	<label class="control-label col-sm-2" >Percentage:</label>
    	<div class="col-sm-4">
         	<%=f.number_field :percentage,:min => 40,:max=>99,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		</div>
	</div>
</form>
    		<%end%>
		<%end%>
        </div>
  	</div>
