<%if @blog%>
  	<%@blog.last(5).each do |b|%>
		
			<%Post.where("blog_id = #{b.id}").each do |post|%>
				 
				     <div class="text-center">
					<h4><strong><i>Title:-</i><%=b.title%></strong><p><%=b.description%></p></h4>
					</div>
						  <blockquote class="blockquote">
					   <div class="col-sm-8 ">
				          <p><%=post.content%></p>
				       </div>
				       <div class="col-sm-4"> image
				       </div><br>
				       <footer><i>by--</i><%=User.find(post.user_id).user_name%></footer>
				        <%=link_to("click here to read full post", :controller=>"app_pages",:action=>"post",:id => post.id)%>
				     </blockquote>
			<%end%>
	<%end%>
<%end%>