<%if @post%>
    <blockquote class="blockquote">
       <p><%=@post.content%></p>
       <footer>
      		<%=User.find(@post.user_id).user_name%>
      </footer>
    </blockquote>
    <%@comment.each do |c|%>
       <i><%=c.content%></i><br>
     <i>commented by :- <%=User.find(c.user_id).email%></i><br>
        <i>status:-<span class="badge"><%=c.status%></span></i><hr>
     <%end%>
<%end%>