
  <div class="well">
  <h2>Sesion</h2>
  <p>Give  session detail:</p>
  <p>Links to destroy or edit details for user are given at end of each row :</p>            
  <p>Use delete button with caution once triggered can not recover the details again:</p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Session</th>
        <th>From</th>
        <th>To</th>
         <th>Edit</th>
          <th>Delete</th>
 
      </tr>
    </thead>
    <tbody>
    <%if @sesion%>
    <% @sesion.each do |u|%>
      <tr>
        <td><%=u.title%></td>
        <td><%=u.from%></td>
        <td><%=u.to%></td>
        <td><%=link_to("edit",:controller=>"sesions",:action=>"edit",:id=>u.id)%></td>
        <td><%=link_to("delete",:controller=>"sesions",:action=>"delete",:id=>u.id)%></td>
      </tr>
     <%end%>
     <%end%>       
    </tbody>
  </table>
  </div>