
<form >
	<div class="form-group row">
    	<label class="control-label col-sm-2" >post:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :course_name,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Content:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :subject_id,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >State:</label>
    	<div class="col-sm-4">
         	<%=f.text_area :klass_id,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >University:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :board_id,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >University:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :description,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >University:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :duration,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >University:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :description,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		</div>
	</div>
</form>