
<form >
	<div class="form-group row">
    	<label class="control-label col-sm-2" >From Page:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :page_id,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Question Number:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :question_number,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >from:</label>
    	<div class="col-sm-4">
         	<%=f.text_area :content,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Type:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :question_type,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >Insert image if any (optional):</label>
    	<div class="col-sm-4">
         	<%=f.text_field :image_id,class: "form-control"%>    		
    	</div>
    </div>


    <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		</div>
	</div>
</form>