
	<div class="panel panel-default">
  		<div class="panel-heading">
  				Experince 
  		</div> 
  		<div class="panel-body">
		<%if flash%>
   			<%=render "shared/flash"%>
		<%end%>
		
		<%if @error%>
		<div class="alert alert-warning">
    		<%= render"shared/error"%>
		</div>
		<%end%>
		
		<%if @experience%>
			<%= form_for @experience, :url=>{:controller=>"experiences",:action=>"update"} do |f|%>
				
<form >
     <%=f.hidden_field :id,:value => @teacher.id,class: "form-control"%>  
	<div class="form-group row">
    	<label class="control-label col-sm-2" >teacher:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :teacher_id,:value => @teacher.teacher_id,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Organization:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :organization_name,:value => @teacher.organization_name,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Experience from:</label>
    	<div class="col-sm-4">
         	<%=f.text_area :from,:value => @teacher.from,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Experience To:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :to,:value => @teacher.to,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >status:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :status,:value => @teacher.status,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		</div>
	</div>
</form>
    		<%end%>
		<%end%>
        </div>
  	</div>