
	<div class="panel panel-default">
  		<div class="panel-heading">
  				EXPERIENCE 
  		</div> 
  		<div class="panel-body">
		<%if flash%>
   			<%=render "shared/flash"%>
		<%end%>
		
		<%if @error%>
		<div class="alert alert-warning">
    		<%= render"shared/error"%>
		</div>
		<%end%>
		
		<%if @experience%>
			<%= form_for @experience, :url=>{:controller=>"experiences",:action=>"create"} do |f|%>		
<form >
	   <%=f.hidden_field :teacher_id,:value=>@teacher_id%>    		
    	
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Organization:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :organization_name,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Experience from:</label>
    	<div class="col-sm-4">
         	<%=f.date_field :from,class: "form-control"%>    		
    	</div>
    
    	<label class="control-label col-sm-2" >To:</label>
    	<div class="col-sm-4">
         	<%=f.date_field :to,class: "form-control"%>    		
    	</div>
    </div>

    <div class="form-group row">
    	<label class="control-label col-sm-2" >status:</label>
    	<div class="col-sm-4"> 
          <%=f.radio_button :status,'working',:checked => true%>Presently Working
            <%=f.radio_button :status,'older'%>Older    		
    	</div>
    </div>

    <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		</div>
	</div>
</form>
    		<%end%>
		<%end%>
        </div>
  	</div>