<div class = "well">
  <div class="row">
    <div class="col-sm-10">
		<blockquote class="blockquote">
    		Name:-<%=@teacher.teacher_name%><br>
        Gender:-<%=@teacher.gender%><br>
    		<%@teacher_status.each do |t|%>
       			Batch:<%=Batch.find(t.batch_id).batch_name%><br>
        		Room number:<%=Room.find(Batch.find(t.batch_id).room_id).room_number%><br>
    		<%end%> 
			<footer><%=User.find(@teacher.user_id).email%></footer>
		</blockquote>
   	</div>
    <div class="col-sm-2">
        <h4 class="text-center">IMAGE</h4>
        <%if @image%>
          <div class="thumbnail"><%=image_tag(@image.image_url.to_s,:class=> "img-circle")%></div>
         <%end%> 
    </div>
  </div>      
</div>

      
 