<div class="container">

	<div class="panel panel-default">
  		<div class="panel-heading">
  		Edit Exam 
  		</div> 
  		<div class="panel-body">
		<%if flash%>
   			<%=render "shared/flash"%>
		<%end%>
		
		<%if @error%>
		<div class="alert alert-warning">
    		<%= render"shared/error"%>
		</div>
		<%end%>
		
		<%if @exam%>
			<%= form_for @exam, :url=>{:controller=>"exams",:action=>"update"} do |f|%>

<form >
    <%=hidden_field :id,:value=>@exam.id%>
	<div class="form-group row">
    	<label class="control-label col-sm-2" >Batch:</label>
    	<div class="col-sm-4">
     
          <%=f.select("batch_id",options_for_select(Batch.all.collect{|b| [b.batch_name,b.id]}))%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Test:</label>
    	<div class="col-sm-4">
         	<%=f.select("test_id",options_for_select(Test.all.collect{|t| [t.test_code,t.id]}))%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Center:</label>
    	<div class="col-sm-4">
         	<%=f.select("center_id",options_for_select(Center.all.collect{|c| [c.center_name,c.id]}))%>    		
    	</div>
    </div>
    
    <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		</div>
	</div>
</form>
    		<%end%>
		<%end%>
        </div>
  	</div>
 </div>