
	<div class="panel panel-default">
  		<div class="panel-heading">
  		EDIT IMAGE
  		</div> 
  		<div class="panel-body">
		<%if flash%>
   			<%=render "shared/flash"%>
		<%end%>
		
		<%if @error%>
		<div class="alert alert-warning">
    		<%= render"shared/error"%>
		</div>
		<%end%>
		
		<%if @image%>
			<%= form_for @image, :url=>{:controller=>"images",:action=>"update"} do |f|%>
    <form >
      <%=f.hidden_field :id,:value=>@image.id,class: "form-control"%>
	     <div class="form-group row">
    	   <label class="control-label col-sm-2" >TEXT</label>
    	     <div class="col-sm-4">
         	  <%=f.text_field :description,:value=>@image.description,class: "form-control"%>    		
          </div>
        </div>
      <div class="form-group row">
    	<label class="control-label col-sm-2" >SIZE:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :size,:value=>@image.size,class: "form-control"%>    		
    	</div>
      </div>
      <div class="form-group row">
      <label class="control-label col-sm-2" >IMAGE:</label>
      <div class="col-sm-4">
          <%=f.file_field :image%>       
      </div>
    </div>
      <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		  </div>
	   </div>
    </form>
    		<%end%>
		<%end%>
        </div>
  	</div>